:root {
  --page-background: #ffffff;
  --text-primary: var(--color-text-primary);
  --text-secondary: var(--color-text-secondary);
  --text-default: var(--color-text-default);
  --text-brand: var(--color-text-brand);
  --text-inverse: var(--color-white);
  --text-onbrand: var(--color-text-onbrand);
  --text-onbrand-secondary: var(--color-text-onbrand-secondary);
  --text-onbrand-muted: var(--color-text-onbrand-muted);
}
